body{
  background-color: #011627;
}

#indice{
  text-align: center;
}
#indice a{
  display: inline-block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 20px 4% ;
  color: #FF9F1C;
}

#guilherme{
  padding: 1%;
  display: block;
  background-color: #FDFFFC;
  margin: 3% 3%;
  border-radius: 20px;
}

#texto-img{
  text-align: center;
  display: inline-block;
}

#apresentacao{
  width: 35%;
  font-size: 23px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

h1{
  font-family: 'Yeseva One', cursive;
  color: #E71D36;
  text-align: center;
  font-size: 50px;
}

h2{
  font-family: 'Yeseva One', cursive;
  color: #E71D36;
  text-align: center;
  font-size: 30px;
}

h4{
  font-family: 'Poppins', sans-serif;
  color: #FF9F1C;
  text-align: center;
  font-size: 20px;
  display: block;

}

#soft li, #hard li{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  list-style: none;
  display: block;
  padding-right: 2%;
}

#hard-skills{
  display: block;
  background-color: #FDFFFC;
  margin: 3% 3%;
  border-radius: 20px;
  padding: 1%;
}

#soft-skills{
  display: block;
  padding: 0% 0% 0% 0%;
  background-color: #FDFFFC;
  margin: 3% 3%;
  border-radius: 20px;
  padding: 1%;
}



img{
    display: inline-block;
    width: 195px;
    border-radius: 100%;
    border: 1px solid black;
    margin-right: 10px;
    vertical-align: middle;
}

#links li, a{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  list-style: none;
  text-decoration: none;
  padding-right: 1%;
}

#links{
  background-color: #FDFFFC;
  margin: 3% 3%;
  border-radius: 20px;
  padding: 1%;
}

#indice a:hover{
  background-color: #FDFFFC ;
  border-radius: 10px;
}

#links a:hover{
  background-color:#2EC4B6;
  border-radius: 10px;
}